*, ::before, ::after{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--website-content-font-family);
}

:root{
    --website-header-color: #F6F6F6;
    --website-footer-color: #04091e;
    --website-background-color: #f8f9fd;
    --website-text-opposite-color: #fff;
    --website-text-color: #000;
    --website-hover-color: #0056b3;
    --website-paragraph-color: #777777;
    --website-button-color: -webkit-linear-gradient(0deg, #0056b3 10%, #62bdfc 90%);
}

:root{
    --website-header-height: 54px;
    --website-title-font-size: 24px;
    --website-header-font-size: 15px;
    --website-content-font-size: 16px;
    --website-title-line-height: 1.2em !important;
    --website-paragraph-line-height: 1.625em !important;
    --website-content-font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--website-background-color);
}

header{
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    position: fixed;
    height: var(--website-header-height);
    background-color: var(--website-header-color);
    box-shadow: 0 0px  rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

header .navigation{
    display: flex;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

header .navigation .header__logo, header .navigation .header__nav{
    display: flex;
    padding: 0 1rem;
    max-height: var(--website-header-height);
}

header .navigation .header__logo{
    margin-right: 36rem;
}

header .navigation .header__logo .header__logo--img{
    width: 40px;
    display: block;
    margin-top: 6px;
    margin-right: -16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/assets/img/logo.jpg");
}

header .header__logo .header__logo--title{
    display: flex;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--website-text-color);
    font-size: var(--website-title-font-size);
    background: var(--website-button-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .header__nav .header__nav--link{
    display: flex;
    font-weight: 500;
    margin-left: 12px;
    position: relative;
    align-items: center;
    padding: 0 30px 0 8px;
    text-transform: uppercase;
    color: var(--website-text-color);
    font-size: var(--website-header-font-size);
}

header .header__nav .header__nav--link:hover, header .header__nav .home{
    color: var(--website-hover-color);
}

main .banner__area{
    width: 100%;
    display: block;
    background-color: var(--website-background-color);
}

main .container{
    width: 100%;
    display: block;
    padding: 0 15px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

main .container--flex{
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
    justify-content: center;
}

main .container--flex .container__text{
    max-width: 50%;
    padding: 0 15px;
    display: block;
    text-align: left;
}

main .container--flex .container__text--subtitle{
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--website-text-color);
    font-size: var(--website-content-font-size);
}

main .container--flex .container__text--title{
    margin: 20px 0;
    font-size: 52px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--website-text-color);
    line-height: var(--website-title-line-height);
}

main .container--flex .container__text--describe{
    font-weight: 300;
    margin-bottom: 16px;
    color: var(--website-paragraph-color);
    font-size: var(--website-content-font-size);
    line-height: var(--website-paragraph-line-height);
}

main .container--flex .container__text--button{
    color: var(--website-text-opposite-color);
    padding: 12px 24px;
    border-radius: 4px;
    display: inline-block;
    text-transform: uppercase;
    background: var(--website-button-color);
    font-size: var(--website-content-font-size);
}

main .container--flex .container__text--button:hover{
    transition: all 0.2s ease 0s;
    box-shadow: 0px 16px 16px 0px rgba(132, 144, 255, 0.3);
}

main .container--flex .container__img{
    display: flex;
    max-width: 45%;
    padding: 0 15px 70px 15px;
    align-self: flex-end;
}

main .container--flex .container__img img{
    width: 100%;;
}

main .personal__area{
    max-height: 750px;
    background-color: white;
}

main .personal__area .container--flex .container__img{
    height: auto;
    align-self: center;
}

main .personal__area .container--flex .container__text{
    margin-left: 92px;
}

main .personal__area .container--flex .container__text--subtitle{
    margin-bottom: 30px;
}

main .personal__area .container--flex .container__text--title{
    font-size: 32px;
    margin-bottom: 40px;
}

main .personal__area .container--flex .container__text--describe{
    max-width: 445px;
    word-wrap: break-word;
}

main .knowledge__area{
    padding: 90px 0 120px 0;
    background-color: white;
}

main .knowledge__area .container .container--flex{
    height: 200px;
}

main .knowledge__area .container .container--flex .container__text--title{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    text-transform: none;
}

main .knowledge__area .container .container--flex .container__text--describe{
    text-align: center;
}

main .knowledge__area .container .container__knowledge{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

main .knowledge__area .container .container__knowledge--skills{
    padding: 0 15px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    text-align: center;
}

main .knowledge__area .container .container__knowledge--skills .knowledge__describe{
    margin-top: 50px;
}

main .knowledge__area .container .container__knowledge--skills .knowledge__describe .describe__logo{
    font-size: 44px;
    font-weight: 300;
}

main .knowledge__area .container .container__knowledge--skills .knowledge__describe .describe__logo--link{
    display: block;
    margin: 24px 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--website-text-color);
    line-height: var(--website-title-line-height);
}

main .knowledge__describe:hover span.describe__logo, main .knowledge__describe:hover a.describe__logo--link{
    color: var(--website-hover-color)!important;
}

main .knowledge__area .container .container__knowledge--skills .knowledge__describe .describe__logo--box{
    font-weight: 300;
    margin-bottom: 16px;
    color: var(--website-paragraph-color);
    font-size: var(--website-content-font-size);
    line-height: var(--website-paragraph-line-height);
}

footer{
    padding: 80px 0;
    color: var(--website-text-opposite-color);
    background-color: var(--website-footer-color);
}

footer .footer__container{
    padding: 0 15px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

footer .footer__container .footer__container--flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

footer .footer__container .footer__container--flex .container__column{
    padding: 0 15px;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

footer .footer__container .footer__container--flex .container__column .container__column--title{
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: var(--website-title-line-height);
}

footer .footer__container .footer__container--flex .container__column .container__column--paragraph{
    text-align: left;
    margin-bottom: 16px;
    color: var(--website-paragraph-color);
    font-size: var(--website-content-font-size);
    line-height: var(--website-paragraph-line-height);
}

footer .footer__container .footer__container--flex .container__column--newsletter .newsletter--submit{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: stretch;
}

footer .footer__container .footer__container--flex .container__column--newsletter .newsletter--submit .container__column--input{
    width: 80%;
    height: 42px;
    border: none;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px 0 0 4px;
}

footer .footer__container .footer__container--flex .container__column--newsletter .newsletter--submit .container__column--button{
    border: none;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 0 4px 4px 0;
    background: var(--website-button-color);
    color: var(--website-text-opposite-color);
}

footer .footer__container .footer__container--flex .container__column--follow{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}